@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header{
    margin: 20px;
    width: 70px;
    text-indent: 10px;

}img{
    width: 220px;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #4A5034;
    font-size: larger;
}

.cadastro {
        background: #4A5034;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 5%;
        box-shadow: 0px 10px 40px #00000056;
        background: #FFFF;
        text-align: left;
        border-radius: 10px;
        margin-right: 250px;
        padding: 90px;
        margin-top: 0px; 
        line-height: 40px;
        font-size: larger;
}input{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    margin-left: 8px;
    border-radius: 30px;
    background-color: #D9E8A1;
    border-style: none;
    text-indent: 10px;
}select{
    margin: 10px;
    margin-left: 5px;
    border-radius:20px;
    background-color: #afbb85 ;
    border-style: none;
    padding:5px;
}

.btn-cadastrar {
    font-size: 14px;
    background-color: #7c894c;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    margin: 0px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}

.btn-cancelar {
    font-size: 14px;
    background-color: #b42525;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}

.cadastro > input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background:#afbb85 ;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.cadastro > input::placeholder {
    font-size: 10px;
}

.btn-cadastrar:hover {
    background-color: #4A5034;
}

.btn-cancelar:hover {
    background-color: #380000;
}

h1 {
    color: #7c894c;
}

.btns {
    width: 50%;
    margin: 0 auto;
    
} footer{
    text-align: left;
}